.task1 .item {
  position: absolute;
  top: 150px;
  left: 200px;
}

.task2 .item {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task3 .item {
  position: fixed;
  top: 0;
  left: 0;
}

.task4 {
  width: 1000px;
}
.task4 .item {
  position: sticky;
  transform: translateX(44%)
}

.task5 .item3 {
  background-color: green;
  position: absolute;
  z-index: 3;
}

.task5 .item1 {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.task5 .item2 {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.task6 .item {
  float: left;
}

.task7 .item {
  float: right;
}

.task8 .item1 {
  float: left;
}
.task8 .item2 {
  height: 120px;
  float: right;
}

.task8 p {
  clear: both;
}

.task9 .item1 {
  height: 200px;
  float: left;
}
.task9 .item2 {
  float: right;
}
.task9 p {
  clear: right;
}

.task10 .item1 {
  float: left;
}
.task10 .item2 {
  height: 210px;
  float: right;
}
.task10 p {
  clear: left;
}

.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
}

.task14 .img-item {
  max-height: 100%;
  max-width: 100%;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: absolute;
  left: 275px;
  top: 0;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: absolute;
  top: -100px;
  left: -275px;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: absolute;
  top: 100px;
  left: 0;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: absolute;
  top: -75px;
  left: -235px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  caret-color: blue;
}

html {
  scroll-behavior: smooth;
}
